/* Hide all with the specific class from print */
@media print {
    .hide-from-print {
        display: none;
    }

}

/* QR code (& print) container  */
.qr-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: left;
    /* justify-content: flex-start; */
    /* Move to the left instead of center */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Align print button */
.print-button {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}