/* Hide all with the specific class from print */
@media print {
    .hide-from-print {
        display: none;
    }

}

/* Make heigh of the page 100% of the page height*/
html,
body {
    height: 100vh;
    margin: 0;
}

/* Center content in the body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* QR code (& print) container  */
.qr-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: left;
    /* justify-content: flex-start; */
    /* Move to the left instead of center */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Align print button */
.print-button {
    text-align: center;
    padding-top: 20px;
}

.print-button button {
    font-size: 30px;
}