@media print {
    .hide-from-print {
        display: none;
    }

}

/* QR code (& print) container  */
.qr-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: left;
    /* justify-content: flex-start; */  /* Move to the left instead of center */
    justify-content: center;
    align-items: center;
    gap: 20px;
}